/**
 * Living Bibliography own styles
 *
 */

#loading {
    background:url("/static/img/loader.gif") no-repeat scroll 0 0 transparent;
    margin:0 10px;
    padding:0 8px;
    display:none;
}

/* #607890 color
