<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Living Bibliography</title>
  <meta name="description" content="Mashing and matching taxa and papers.">
  <meta name="author" content="Bruno C. Vellutini">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
  <link rel="apple-touch-icon" href="{{ STATIC_URL }}apple-touch-icon.png">

  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/960.css">

  <!-- All JavaScript at the bottom, except for Modernizr and Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries -->
  <script src="{{ STATIC_URL }}js/libs/modernizr-1.7.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/respond.min.js"></script>
</head>

<body>
    <div id="container" class="container_12">
        <header class="grid_12">
        <h1><a href="/">Living Bibliography</a></h1>
        <span class="quiet">references from your favorite taxon</span>
        </header>

        <div id="main-menu" class="grid_12"></div>

        <div id="main-content" role="main" class="grid_12">
            {% block content %}{% endblock %}
        </div>

        <div id="main-footnote" class="quiet grid_12">
            *references extracted from Mendeley database only, for now.
        </div>

        <footer class="quiet grid_12">
        {% now "Y" %} <a href="http://organelas.com/">Bruno Vellutini</a> | Code at <a href="http://github.com/nelas/livingbib">GitHub</a>
        </footer>
    </div> <!-- end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='{{ STATIC_URL }}js/libs/jquery-1.6.min.js'>\x3C/script>")</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script src="{{ STATIC_URL }}js/plugins.js"></script>
  <script src="{{ STATIC_URL }}js/script.js"></script>
  <!-- end scripts-->

	
  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[["_setAccount","UA-825986-17"],["_trackPageview"],["_trackPageLoadTime"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

</body>
</html>
