{% extends 'base.html' %}

{% block content %}

<div id="search-box" class="grid_12 alpha omega">
    <form id="search-form" method="get" action="/search/">
        {{ form.query.label_tag }}<strong>:</strong> {{ form.query }} <input type="submit" value="Find" class="fashion" /> <span class="quiet">{{ form.query.help_text }}</span>
    </form>
</div>

<div id="site-description" class="grid_6 alpha">
    <h2>What it is</h2>
    <p>
    <em>Living Bibliography</em> aggregates scientific references by taxa. Data is fetched on demand from <a href="http://www.mendeley.com/">Mendeley</a> database (via <a href="http://dev.mendeley.com/">API</a>) and taxon search is powered by <a href="http://www.ubio.org/">uBio</a> <a href="http://www.ubio.org/index.php?pagename=services_overview">NameBank web services</a>.
    </p>
    <p>
    A prototype of this app was initially deployed during the <a href="http://www.mendeley.com/blog/developer-resources/hack4knowledge-mendeley-living-bibliographies-visual-search-and-more-h4k/">Hack4Knowledge</a> meeting. Since then. I made a few improvements to the code and got the basic functions working. It is still pretty raw, but at least you can search for a taxon and get some references.
    </p>
    <h3>Step by step</h3>
    <p>
    <ol>
        <li>Type a scientific or common name of a taxon you know.</li>
        <li>Click on your taxon of choice.</li>
        <li>Maybe wait a bit until we fetch the data.</li>
        <li>Browse through references.</li>
    </ol>
    </p>
    <h3>Ideas</h3>
    <p>
    <ul>
        <li>Data visualization with graphs and charts (popular organisms, trending taxa, active authors by taxa, etc).</li>
        <li>Integration with other biological databases (pull data to enrich content, provide external links, etc).</li>
    </ul>
    </p>
    <p>
    Code is <a href="https://github.com/nelas/livingbib">open source</a>. Feel free to join and share opinions about it.
    </p>
</div>

<div id="home-taxa" class="grid_6 omega">
    <h2>Popular taxa</h2>

    <div class="header-row">
        Taxon
        <div class="float-right align-right">References</div>
    </div>

    {% for taxon in taxa %}
    <a href="{{ taxon.get_absolute_url }}">
        <div class="{% cycle 'dark-row' 'light-row' %}">
            {{ taxon.name }}
            <div class="float-right align-right">{{ taxon.total_results }}</div>
        </div>
    </a>
    {% endfor %}

</div>

<div class="grid_12 omega alpha" id="latest-queries">
    <h2>Latest updates</h2>
    {% for query in queries %}
    <a href="{{ query.taxon.get_absolute_url }}" title="Updated {{ query.taxon.name }} {{ query.timestamp|timesince }} ago">{{ query.taxon.name }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
