{% extends 'base.html' %}

{% block content %}
<div id="search-page">

  <h1>Search page <small>powered by <a href="http://www.ubio.org/">uBio</a> web services.</small></h1>

  <div id="search-results">
    {% if show %}
      {% include 'search_results.html' %}
    {% else %}
      <div class="alert-message notice">
        Type a scientific or common name of a taxon in the search box above and press <strong>Search</strong>.
      </div>
    {% endif %}
  </div>

</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
