{% extends 'base.html' %}

{% block content %}

<div class="grid_12 omega alpha" id="taxon-info">
    <h2>{{ taxon.name }}</h2>
    <strong>Last updated:</strong> {{ last_query.timestamp }}<br>
    <strong>Results:</strong> {{ last_query.total_results }}<br>
</div>

<div class="grid_9 alpha" id="reference-list">
    <form action="." method="post" class="float-right">
        {{ sortform.as_p }}
        {% csrf_token %}
    </form>

    <h3>References</h3>

    {% if articles %}

        {% for article in articles %}
        <div class="citation grid_9 alpha omega">
            {% include 'citation.html' %}
        </div>
        {% endfor %}

    {% else %}

        {% if taxon.total_results %}
        Sorry, we could not find any articles about <strong>{{ taxon.name }}</strong>.
        {% else %}
        Sorry, we are still fetching articles for <strong>{{ taxon.name }}</strong>. Please come back soon.
        {% endif %}

    {% endif %}
</div>

<div class="grid_3 omega" id="side-info">
    <div id="top-authors">
        <h3>Active authors</h3>
        <table>
            <tr class="header-row">
                <th>Author</th>
                <th>Publications</th>
            </tr>

            {% for author in top_authors %}
            <tr class="{% cycle 'dark-row' 'light-row' %}">
                <td>{{ author.authors__surname }}, {{ author.authors__forename }}</td>
                <td>{{ author.authors__count }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
