{% extends 'base.html' %}

{% block content %}

<h1>
  {{ taxon.name }}

  {% if user.is_authenticated %}

    <input class="pull-right btn {% if user.id in user_list %}success{% else %}info{% endif %}" name="follow" value="{% if user.id in user_list %}Following{% else %}Follow{% endif %}" type="button" id="follow-button" onclick="Dajaxice.livingbib.alive.toggle_follow(Dajax.process, {'taxon_id': '{{ taxon.id }}', 'user_id': '{{ user.id }}'})">

  {% else %}

  <button class="pull-right btn disabled">Sign in to Follow</button>

  {% endif %}

</h1>

<div class="row" id="taxon-info">

  <div class="span8" id="taxon-status">
    <ul class="media-grid">
      <li>
      <a href="#">
        <img class="thumbnail" src="" alt="IMAGE" width="210" height="115">
      </a>
      </li>
    </ul>
  </div>

  <div class="span8" id="query-status">
    <h3>Stats{% if fetching %}<span id="updating"><small> updating... please wait.</small></span></span>{% endif %}</h3>
    <p>
    <span class="label">Results</span>
    <span id="total-results">
      {% if not last_query %}
      None, yet.
      {% else %}
      {{ last_query.total_results }}
      {% endif %}
    </span>
    {% if fetch_ratio %} (<span id="fetch-ratio">{{ fetch_ratio }}</span>% fetched){% endif %}
    <span class="label">Last updated</span>
    <span id="last-updated">
      {% if not last_query %}
      Never.
      {% else %}
      {{ last_query.timestamp }}
      {% endif %}
    </span>
    </p>

    <div id="fetching-notice" class="alert-message warning fade in" data-alert="alert">
      <p><span id="yellow-loading"></span> <span id="being-fetched"></span> references are being fetched right now (it might take a while).</p>
    </div>
    <div id="fetching-status" class="muted"></div>

  </div>

</div>

<div id="reference-list">
    <h3>References</h3>

    {% if articles %}

    <table id="references-table" class="zebra-striped">
      <thead>
        <tr>
          <th>Year</th>
          <th>Title</th>
          <th>Authors</th>
          <th>Publication</th>
          <th>Type</th>
          <th>Readers</th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
        <tr>
          <td> {{ article.year }} </td>
          <td> {{ article.title }} </td>
          <td> {% for author in article.authors.all %}{{ author.surname }} {{ author.forename|first }}{% if not forloop.last %}, {% endif %}{% endfor %} </td>
          <td>
            <em>{{ article.publication_outlet }}</em>, {{ article.volume }}{% if article.issue %}({{ article.issue }}){% endif %}, {{ article.pages }}p{% if article.chapter %}, {{ article.chapter }}{% endif %}
          </td>
          <td> {{ article.type }} </td>
          <td> {{ article.stats.readers }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}

        {% if taxon.total_results == 0 %}
        Sorry, we could not find any articles about <strong>{{ taxon.name }}</strong>.
        {% else %}
        Fetching articles for <strong>{{ taxon.name }}</strong>... Please come back soon.
        {% endif %}

    {% endif %}

</div>

{% comment %}
<div class="grid_3 omega" id="side-info">
    <div id="top-authors">
        <h3>Active authors</h3>
        <table>
            <tr class="header-row">
                <th>Author</th>
                <th>Publications</th>
            </tr>

            {% for author in top_authors %}
            <tr class="{% cycle 'dark-row' 'light-row' %}">
                <td>{{ author.authors__surname }}, {{ author.authors__forename }}</td>
                <td>{{ author.authors__count }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endcomment %}

{% if fetching %}
<script type="text/javascript" charset="utf-8">
  {% comment %}
  TODO Pass the items_per_page from last_query to incrementally increase the number of articles fetched.
  Dajaxice.livingbib.alive.search_references(Dajax.process, {'taxon_id': '{{ taxon.id }}', 'items_per_page': '{{ last_query.items_per_page }}'})
  {% endcomment %}
  Dajaxice.livingbib.alive.search_references(Dajax.process, {'taxon_id': '{{ taxon.id }}'})
</script>
{% endif %}

{% endblock %}
